{{#if resume.publications.length}}
<section class="section">
  <header>
    <h2 class='section-title'>Publications</h2>
  </header>
  <section id="publications">
    {{#each resume.publications}}
    <section class="publication-item">
      {{#if summary}}
        {{#if @first}}
        <input id="publication-item-{{@index}}" type="checkbox" class="toggle-item" checked="checked" />
        {{else}}
        <input id="publication-item-{{@index}}" type="checkbox" class="toggle-item" />
        {{/if}}
        <label for="publication-item-{{@index}}"></label>
      {{/if}}

      <header class="clear">
        <div class="header-left">
          {{#if name}}
          <span class="name">
          {{#if website}}
          <span class="website">
          <a target="_blank" href="{{website}}">{{name}}</a>
          </span>
          {{else}}
          {{name}}
          {{/if}}
          </span>
          {{/if}}
          {{#if publisher}}
          <span class="publisher">
          in {{publisher}}
          </span>
          {{/if}}
        </div>
        {{#if releaseDate}}
        <span class="date">
        {{DMY releaseDate}}
        </span>
        {{/if}}
      </header>
      {{#if keywords.length}}
      <ul class="keywords">
        {{#each keywords}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}

      <div class="item">  
        {{#if summary}}
          <div class="summary">{{paragraphSplit summary}}</div>
        {{/if}}
      </div>
    </section>
    {{/each}}
  </section>
</section>
{{/if}}
